.customer-service__container {
    padding: 50px 5px;
    color: var(--purple-gray);
    text-align: center;

    h2 {
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 36px;
    }

    .customer-service__text {
        text-align: center;
        line-height: 1.5;
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
    }

    .customer-service__icons {
        width: 100%;
        margin-bottom: 70px;

        .customer-service-icon {
            margin: 20px 0;

            img {
                margin: 20px 0 0;
            }

            p {
                width: 50%;
                font-size: 20px;
                margin: 0 auto;
            }
        }
    }

    a {
        background-color: var(--purple-gray);
        text-decoration: none;
        color: #fff;
        padding: 20px 25px;
        box-shadow: 0px 15px 20px 0px rgba(143,143,143,1);
    }

}