.main {
    margin-top: 25px;

    .hero__section {

        .bottle__container {
            width: 100%;

            .main__bottle-image {
                width: 100%;
                height: auto;
            }
        }
            
        .bottle-description__container {
            width: 90%;
            margin: 0 auto;
            text-align: center;
    
            .bottle-description__organic-tea {
                display: inline-block;
                position: relative;
                font-size: 14px;
    
                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    height: 1px;
                    width: 30px;
                    top: 50%;
                    left: 110%;
                    transform: translateY(-50%);
                }
            }
    
            h1 {
                color: var(--purple-gray);
                font-family: 'Poppins', sans-serif;
                font-size: 2.35rem;
                font-weight: 300;
            }
    
            h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 40px;
                color: var(--orange);
                line-height: 20px;
                font-weight: 700;
                margin-top: 5px;
            }
    
            p {
                &.bottle-text {
                    font-family: 'Poppins', sans-serif;
                    text-align: justify;
                    line-height: 1.5;
                    font-size: 16px;
                    margin: 25px 0;
                }
    
                &.bottle-price {
                    font-family: 'Lato', sans-serif;
                    color: var(--dark-gray);
                    font-size: 44px;
                }
            }
    
            hr {
    
                &.bottle-price-line {
                    margin-top: 25px;
                    color: var(--dark-gray);
                }
            }
    
            a {
                margin: 50px auto 0;
                display: block;
                background-color: var(--purple-gray);
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                padding: 21px 0;
                font-family: 'Poppins', sans-serif;
            }
    
            .bottle-details__container {
                width: 100%;
                margin: 50px 0;
    
                .bottle-details__container-detail {
                    color: var(--purple-gray);
                    font-size: 20px;
                    padding: 20px 0;
    
                    .bottle-detail__header {
                        font-family: 'Poppins', sans-serif;
                    }
    
                    .bottle-detail__info {
                        color: var(--orange);
                        font-size: 30px;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
        }
    }

    .company-icons__container {
        width: 100%;
        background-color: var(--light-gray);
        padding: 30px 0;
        display: flex;
        text-align: center;
        flex-wrap: wrap;

        .company-icon {
            width: 100%;
            padding: 20px 0;

            img {
                width: 30%;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main {
        .hero__section {
            display: flex;
            .bottle__container {
                flex: 1;
                text-align: center;

                .main__bottle-image {
                    height: 800px;
                    width: auto;
                    flex: 1;
                }
            }
            .bottle-description__container {
                flex: 1;
                text-align: left;
                margin-top: 125px;

                h1 {
                    font-size: 80px;
                }

                h2 {
                    font-size: 80px;
                    font-weight: 500;
                    letter-spacing: 5px;
                }

                p {
                    &.bottle-text {
                        width: 68%;
                        text-align: left;
                        padding: 25px 0 0 0;
                    }
                }

                .bottle-price-line {
                    width: 30%;
                }

                a {
                    width: 25%;
                    text-align: center;
                    margin: 50px 0;
                }

                .bottle-details__container {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 20%;

                    .bottle-details__container-detail {
                        .bottle-detail__header {
                            font-size: 12px;
                        }
                        .bottle-detail__info {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .company-icons__container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            .company-icon {
                padding: 0;

                img {
                    width: 40%;
                }
            }
        }

        .customer-service__container {

            .customer-service__icons {
                display: flex;
                justify-content: space-around;
                width: 80%;
                margin: 0 auto;

                .customer-service-icon {
                    p {
                        width: 70%;
                        margin-top: 40px;
                    }
                }
            }

            a {
                display: block;
                margin-top: 60px;
                width: 14%;
            }
        }

        .arie-kombucha__container {
            width: 70%;
            margin: 0 auto;

            h2 {
                font-size: 50px;
            }
        }

        .kombucha-flavors__container {
            padding: 0 135px;

            .kombucha-flavors__item {
                display: flex;
                margin-bottom: 100px;

                &:first-child, &:last-child {
                    flex-direction: row-reverse;
                }

                .kombucha-image__container {
                    flex: 1;

                    img {
                        width: 75%;
                    }
                }
                .kombucha-flavors__item-details {
                    flex: 1;
                    text-align: left;

                    h3 {
                        font-size: 40px;
                        margin-bottom: 30px;
                    }

                    .kombucha-item__description {
                        margin-bottom: 50px;
                    }

                    a {
                        display: inline-block;
                        width: 30%;
                        margin-left: 10px;
                        margin-bottom: 0;
                        padding: 20px 25px;
                        text-align: center;
                    }
                }
            }
        }

        .popular__container {
            padding: 0 135px;

            .popular__container-header {
                h2 {
                    text-align: left;
                    font-size: 50px;
                }

                .popular-numbers__container {
                    justify-content: flex-end;
                    margin-right: 30px;

                    .popular__number {
                        position: relative;
                        padding-right: 40px;
                        margin-left: 25px;

                        &::before {
                            left: 32px;
                            top: 1.85rem;
                            transform: translate(-1rem, -1rem);
                            height: 2px;
                            width: 50%;
                            background-color: var(--purple-gray);
                        }
                    }
                }
            }
        }
    }
}