.testimonials__container {
    padding: 50px 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;

    h2 {
        color: var(--purple-gray);
        font-size: 30px;
        color: var(--purple-gray);
        margin-bottom: 35px;
    }

    p:first-child {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 73px;
    }

    .testimonial-carousel-wrapper {
        display: flex;
        background-color: green;
        width: 500%;

        .testimonial {
            flex: 1;

            .testimonial-quote {

            }
        }
    }

}