:root {
    --orange: #ff5230;
    --purple-gray: #545268;
    --dark-gray: #3a3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

body {
    padding: 45px 0;
}

.df {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

header {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .header__logo {
        font-family: 'PT Sans', sans-serif;
        font-size: 26px;
        letter-spacing: 3px;

        a {
            transition: .3s ease;
            text-decoration: none;

            &:link {
                color: #000;
            }

            &:hover {
                color: var(--orange);
            }
        }
    }

    .header__options-container {
        display: none;

        nav {
            margin-right: 118px;

            ul {
                li {
                    font-size: 18px;
                    font-family: Arial, sans-serif;
                    padding: 0 23px;

                    a {
                        display: block;
                        position: relative;
                        text-decoration: none;

                        &:link {
                            color: #000;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 0;
                            top: 150%;
                            background-color: var(--orange);
                            transition: .3s ease;
                            opacity: 0;
                        }

                        &.active-link::before {
                            opacity: 1;
                            width: 100%;
                        }

                        &:hover {
                            &::before {
                                opacity: 1;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .header__user-options {
            ul {
                li {
                    padding: 0 14px;
                    
                    a {
                        transition: .3s ease;

                        &:link {
                            color: #000;
                        }

                        &:hover {
                            color: var(--orange);
                        }
                    }
                }
            }
        }
    }

    .hamburger-menu__container {

        .hamburger-menu__line {
            height: 3px;
            width: 40px;
            background-color: var(--orange);
            
            &:nth-child(2) {
                margin: 10px 0;
            }
        }
    }
}

.main {
    margin-top: 25px;

    img {
        width: 100%;
        height: auto;
    }

    .bottle-description__container {
        width: 90%;
        margin: 0 auto;
        text-align: center;

        .bottle-description__organic-tea {
            display: inline-block;
            position: relative;
            font-size: 14px;

            &::before {
                content: '';
                position: absolute;
                background-color: #000;
                height: 1px;
                width: 30px;
                top: 50%;
                left: 110%;
                transform: translateY(-50%);
            }

            &::after {
                content: '';
                position: absolute;
                background-color: #000;
                height: 1px;
                width: 30px;
                top: 50%;
                left: -10%;
                transform: translate(-110%, -50%);
            }
        }

        h1 {
            color: var(--purple-gray);
            font-family: 'Poppins', sans-serif;
            font-size: 2.35rem;
            font-weight: 300;
        }

        h2 {
            font-family: 'PT Sans', sans-serif;
            font-size: 40px;
            color: var(--orange);
            line-height: 20px;
            font-weight: 700;
            margin-top: 5px;
        }

        p {
            &.bottle-text {
                font-family: 'Poppins', sans-serif;
                text-align: justify;
                line-height: 1.5;
                font-size: 16px;
                margin: 25px 0;
            }

            &.bottle-price {
                font-family: 'Lato', sans-serif;
                color: var(--dark-gray);
                font-size: 44px;
            }
        }

        hr {

            &.bottle-price-line {
                margin-top: 25px;
                color: var(--dark-gray);
            }
        }

        a {
            margin: 50px auto;
            display: block;
            background-color: var(--purple-gray);
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            padding: 21px 0;
        }
    }
}

.logo-color {
    color: var(--orange);
}

@media screen and (min-width: 1000px) {
    header nav {
        display: flex;
    }

    header .header__options-container {
        display: flex;
    }

    header .hamburger-menu__container {
        display: none;
    }
}