@import 'reset';
@import 'variables';
@import 'header';
@import 'main';
@import 'customer_service';
@import 'arie_kombucha';
@import 'kombucha_flavors';
@import 'popular';
@import 'stats';
@import 'testimonials';
@import 'footer';

body {
    padding: 45px 0;
}

ul li {
    list-style: none;
}

.df {
    display: flex;
}

.logo-color {
    color: var(--orange);
}

@media screen and (min-width: 1000px) {
    header nav {
        display: flex;
    }

    header .header__options-container {
        display: flex;
    }

    header .hamburger-menu__container {
        display: none;
    }
}