* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --orange: #ff5230;
  --purple-gray: #545268;
  --dark-gray: #3a3a3a;
  --light-gray: #fafafa;
}

header {
  width: 86%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__logo {
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
}

header .header__logo a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-decoration: none;
}

header .header__logo a:link {
  color: #000;
}

header .header__logo a:hover {
  color: var(--orange);
}

header .header__options-container {
  display: none;
}

header .header__options-container nav {
  margin-right: 118px;
}

header .header__options-container nav ul li {
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 0 23px;
}

header .header__options-container nav ul li a {
  display: block;
  position: relative;
  text-decoration: none;
}

header .header__options-container nav ul li a:link {
  color: #000;
}

header .header__options-container nav ul li a::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  top: 150%;
  background-color: var(--orange);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
}

header .header__options-container nav ul li a.active-link::before {
  opacity: 1;
  width: 100%;
}

header .header__options-container nav ul li a:hover::before {
  opacity: 1;
  width: 100%;
}

header .header__options-container .header__user-options ul li {
  padding: 0 14px;
}

header .header__options-container .header__user-options ul li a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header .header__options-container .header__user-options ul li a:link {
  color: #000;
}

header .header__options-container .header__user-options ul li a:hover {
  color: var(--orange);
}

header .hamburger-menu__container .hamburger-menu__line {
  height: 3px;
  width: 40px;
  background-color: var(--orange);
}

header .hamburger-menu__container .hamburger-menu__line:nth-child(2) {
  margin: 10px 0;
}

.main {
  margin-top: 25px;
}

.main .main__bottle-image {
  width: 100%;
  height: auto;
}

.main .bottle-description__container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main .bottle-description__container .bottle-description__organic-tea {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.main .bottle-description__container .bottle-description__organic-tea::before {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1px;
  width: 30px;
  top: 50%;
  left: 110%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .bottle-description__container .bottle-description__organic-tea::after {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1px;
  width: 30px;
  top: 50%;
  left: -10%;
  -webkit-transform: translate(-110%, -50%);
          transform: translate(-110%, -50%);
}

.main .bottle-description__container h1 {
  color: var(--purple-gray);
  font-family: 'Poppins', sans-serif;
  font-size: 2.35rem;
  font-weight: 300;
}

.main .bottle-description__container h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  color: var(--orange);
  line-height: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.main .bottle-description__container p.bottle-text {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  margin: 25px 0;
}

.main .bottle-description__container p.bottle-price {
  font-family: 'Lato', sans-serif;
  color: var(--dark-gray);
  font-size: 44px;
}

.main .bottle-description__container hr.bottle-price-line {
  margin-top: 25px;
  color: var(--dark-gray);
}

.main .bottle-description__container a {
  margin: 50px auto 0;
  display: block;
  background-color: var(--purple-gray);
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 21px 0;
}

.main .bottle-description__container .bottle-details__container {
  width: 100%;
  margin: 50px 0;
}

.main .bottle-description__container .bottle-details__container .bottle-details__container-detail {
  color: var(--purple-gray);
  font-size: 20px;
  padding: 20px 0;
}

.main .bottle-description__container .bottle-details__container .bottle-details__container-detail .bottle-detail__header {
  font-family: 'Poppins', sans-serif;
}

.main .bottle-description__container .bottle-details__container .bottle-details__container-detail .bottle-detail__info {
  color: var(--orange);
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.main .company-icons__container {
  width: 100%;
  background-color: var(--light-gray);
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .company-icons__container .company-icon {
  width: 50%;
  padding: 10px 0;
}

.main .company-icons__container .company-icon img {
  width: 60%;
}

.customer-service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  padding: 45px 0;
}

ul li {
  list-style: none;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-color {
  color: var(--orange);
}

@media screen and (min-width: 1000px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__options-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .hamburger-menu__container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */