* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --orange: #ff5230;
  --purple-gray: #545268;
  --dark-gray: #3a3a3a;
  --light-gray: #fafafa;
}

header {
  width: 86%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__logo {
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
}

header .header__logo a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-decoration: none;
}

header .header__logo a:link {
  color: #000;
}

header .header__logo a:hover {
  color: var(--orange);
}

header .header__options-container {
  display: none;
}

header .header__options-container nav {
  margin-right: 118px;
}

header .header__options-container nav ul li {
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 0 23px;
}

header .header__options-container nav ul li a {
  display: block;
  position: relative;
  text-decoration: none;
}

header .header__options-container nav ul li a:link {
  color: #000;
}

header .header__options-container nav ul li a::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  top: 150%;
  background-color: var(--orange);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
}

header .header__options-container nav ul li a.active-link::before {
  opacity: 1;
  width: 100%;
}

header .header__options-container nav ul li a:hover::before {
  opacity: 1;
  width: 100%;
}

header .header__options-container .header__user-options ul li {
  padding: 0 14px;
}

header .header__options-container .header__user-options ul li a {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header .header__options-container .header__user-options ul li a:link {
  color: #000;
}

header .header__options-container .header__user-options ul li a:hover {
  color: var(--orange);
}

header .hamburger-menu__container .hamburger-menu__line {
  height: 3px;
  width: 40px;
  background-color: var(--orange);
}

header .hamburger-menu__container .hamburger-menu__line:nth-child(2) {
  margin: 10px 0;
}

.main {
  margin-top: 25px;
}

.main .hero__section .bottle__container {
  width: 100%;
}

.main .hero__section .bottle__container .main__bottle-image {
  width: 100%;
  height: auto;
}

.main .hero__section .bottle-description__container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main .hero__section .bottle-description__container .bottle-description__organic-tea {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.main .hero__section .bottle-description__container .bottle-description__organic-tea::before {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1px;
  width: 30px;
  top: 50%;
  left: 110%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .hero__section .bottle-description__container h1 {
  color: var(--purple-gray);
  font-family: 'Poppins', sans-serif;
  font-size: 2.35rem;
  font-weight: 300;
}

.main .hero__section .bottle-description__container h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: var(--orange);
  line-height: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.main .hero__section .bottle-description__container p.bottle-text {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  margin: 25px 0;
}

.main .hero__section .bottle-description__container p.bottle-price {
  font-family: 'Lato', sans-serif;
  color: var(--dark-gray);
  font-size: 44px;
}

.main .hero__section .bottle-description__container hr.bottle-price-line {
  margin-top: 25px;
  color: var(--dark-gray);
}

.main .hero__section .bottle-description__container a {
  margin: 50px auto 0;
  display: block;
  background-color: var(--purple-gray);
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 21px 0;
  font-family: 'Poppins', sans-serif;
}

.main .hero__section .bottle-description__container .bottle-details__container {
  width: 100%;
  margin: 50px 0;
}

.main .hero__section .bottle-description__container .bottle-details__container .bottle-details__container-detail {
  color: var(--purple-gray);
  font-size: 20px;
  padding: 20px 0;
}

.main .hero__section .bottle-description__container .bottle-details__container .bottle-details__container-detail .bottle-detail__header {
  font-family: 'Poppins', sans-serif;
}

.main .hero__section .bottle-description__container .bottle-details__container .bottle-details__container-detail .bottle-detail__info {
  color: var(--orange);
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.main .company-icons__container {
  width: 100%;
  background-color: var(--light-gray);
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .company-icons__container .company-icon {
  width: 100%;
  padding: 20px 0;
}

.main .company-icons__container .company-icon img {
  width: 30%;
}

@media only screen and (min-width: 768px) {
  .main .hero__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .hero__section .bottle__container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .main .hero__section .bottle__container .main__bottle-image {
    height: 800px;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main .hero__section .bottle-description__container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    margin-top: 125px;
  }
  .main .hero__section .bottle-description__container h1 {
    font-size: 80px;
  }
  .main .hero__section .bottle-description__container h2 {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 5px;
  }
  .main .hero__section .bottle-description__container p.bottle-text {
    width: 68%;
    text-align: left;
    padding: 25px 0 0 0;
  }
  .main .hero__section .bottle-description__container .bottle-price-line {
    width: 30%;
  }
  .main .hero__section .bottle-description__container a {
    width: 25%;
    text-align: center;
    margin: 50px 0;
  }
  .main .hero__section .bottle-description__container .bottle-details__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20%;
  }
  .main .hero__section .bottle-description__container .bottle-details__container .bottle-details__container-detail .bottle-detail__header {
    font-size: 12px;
  }
  .main .hero__section .bottle-description__container .bottle-details__container .bottle-details__container-detail .bottle-detail__info {
    font-size: 22px;
  }
  .main .company-icons__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .company-icons__container .company-icon {
    padding: 0;
  }
  .main .company-icons__container .company-icon img {
    width: 40%;
  }
  .main .customer-service__container .customer-service__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  .main .customer-service__container .customer-service__icons .customer-service-icon p {
    width: 70%;
    margin-top: 40px;
  }
  .main .customer-service__container a {
    display: block;
    margin-top: 60px;
    width: 14%;
  }
  .main .arie-kombucha__container {
    width: 70%;
    margin: 0 auto;
  }
  .main .arie-kombucha__container h2 {
    font-size: 50px;
  }
  .main .kombucha-flavors__container {
    padding: 0 135px;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item:first-child, .main .kombucha-flavors__container .kombucha-flavors__item:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item .kombucha-image__container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item .kombucha-image__container img {
    width: 75%;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details .kombucha-item__description {
    margin-bottom: 50px;
  }
  .main .kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details a {
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 20px 25px;
    text-align: center;
  }
  .main .popular__container {
    padding: 0 135px;
  }
  .main .popular__container .popular__container-header h2 {
    text-align: left;
    font-size: 50px;
  }
  .main .popular__container .popular__container-header .popular-numbers__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }
  .main .popular__container .popular__container-header .popular-numbers__container .popular__number {
    position: relative;
    padding-right: 40px;
    margin-left: 25px;
  }
  .main .popular__container .popular__container-header .popular-numbers__container .popular__number::before {
    left: 32px;
    top: 1.85rem;
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
    height: 2px;
    width: 50%;
    background-color: var(--purple-gray);
  }
  .main .popular__container .popular__container-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .popular__container .popular__container-items .popular-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 60px 45px;
    margin: 0 10px;
  }
}

.customer-service__container {
  padding: 50px 5px;
  color: var(--purple-gray);
  text-align: center;
}

.customer-service__container h2 {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 36px;
}

.customer-service__container .customer-service__text {
  text-align: center;
  line-height: 1.5;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.customer-service__container .customer-service__icons {
  width: 100%;
  margin-bottom: 70px;
}

.customer-service__container .customer-service__icons .customer-service-icon {
  margin: 20px 0;
}

.customer-service__container .customer-service__icons .customer-service-icon img {
  margin: 20px 0 0;
}

.customer-service__container .customer-service__icons .customer-service-icon p {
  width: 50%;
  font-size: 20px;
  margin: 0 auto;
}

.customer-service__container a {
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: var(--purple-gray);
  text-decoration: none;
  color: #fff;
  padding: 20px 25px;
  -webkit-box-shadow: 0px 15px 20px 0px #8f8f8f;
          box-shadow: 0px 15px 20px 0px #8f8f8f;
}

.arie-kombucha__container {
  color: var(--purple-gray);
  padding: 25px 5px;
}

.arie-kombucha__container h2 {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 36px;
}

.arie-kombucha__container p {
  text-align: center;
  line-height: 1.5;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.kombucha-flavors__container {
  padding: 0 5px;
  text-align: center;
}

.kombucha-flavors__container .kombucha-flavors__item .kombucha-image__container img {
  width: 100%;
}

.kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details .kombucha-small {
  letter-spacing: 4px;
  font-size: 16px;
  color: var(--orange);
  font-family: 'PT Sans', sans-serif;
  margin-top: 20px;
  padding: 0 10px;
}

.kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 30px;
  color: var(--purple-gray);
  padding: 10px 10px;
}

.kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details .kombucha-item__description {
  text-align: justify;
  line-height: 1.75;
  font-family: 'Poppins', sans-serif;
  padding: 0 10px;
  margin-bottom: 40px;
}

.kombucha-flavors__container .kombucha-flavors__item .kombucha-flavors__item-details a {
  display: block;
  width: 90%;
  margin: 0 auto 70px;
  background-color: var(--purple-gray);
  text-decoration: none;
  color: #fff;
  padding: 20px 25px;
  -webkit-box-shadow: 0px 15px 20px 0px #8f8f8f;
          box-shadow: 0px 15px 20px 0px #8f8f8f;
  font-family: 'Poppins', sans-serif;
}

.popular__container {
  padding: 20px 5px;
}

.popular__container .popular__container-header {
  font-family: 'Montserrat Alternates', sans-serif;
}

.popular__container .popular__container-header h2 {
  text-align: center;
  font-size: 30px;
  color: var(--purple-gray);
}

.popular__container .popular__container-header .popular-numbers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  margin-right: 30px;
}

.popular__container .popular__container-header .popular-numbers__container .popular__number {
  position: relative;
  padding-right: 1.25rem;
  font-size: 1.25rem;
  color: #aaa;
}

.popular__container .popular__container-header .popular-numbers__container .popular__number::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 2rem;
  -webkit-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
  height: 1px;
  width: 70%;
  margin: 0 1.25rem;
  background-color: var(--purple-gray);
}

.popular__container .popular__container-header .popular-numbers__container .popular-bold {
  font-weight: bold;
  color: #000;
  font-size: 1.5rem;
}

.popular__container .popular__container-items {
  padding: 30px 5px;
}

.popular__container .popular__container-items .popular-item {
  text-align: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 20px 5px #cccccc;
          box-shadow: 0px 10px 20px 5px #cccccc;
}

.popular__container .popular__container-items .popular-item .popular-item__description {
  color: var(--purple-gray);
  font-family: 'Poppins', sans-serif;
}

.popular__container .popular__container-items .popular-item .popular-item__description h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.popular__container .popular__container-items .popular-item .popular-item__description p {
  font-size: 12px;
  margin-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.popular__container .popular__container-items .popular-item .popular-item__description a {
  width: 90%;
  margin: 40px auto 10px;
  display: inline-block;
  background-color: var(--purple-gray);
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
}

.stats__container {
  background-color: var(--light-gray);
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
}

.stats__container .stats__container-chartbox {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px 0px #ececec;
          box-shadow: 0px 10px 20px 0px #ececec;
  text-align: center;
}

.stats__container .stats__container-numbers {
  text-align: center;
  padding: 20px 0 0;
}

.stats__container .stats__container-numbers .stats-details {
  color: var(--purple-gray);
  padding: 20px 0;
}

.stats__container .stats__container-numbers .stats-details p:first-child {
  font-size: 30px;
}

.stats__container .stats__container-numbers .stats-details p:nth-child(2) {
  font-size: 16px;
}

.testimonials__container {
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow: hidden;
}

.testimonials__container .testimonials-comment {
  padding: 0 5px;
}

.testimonials__container h2 {
  color: var(--purple-gray);
  font-size: 30px;
  margin-bottom: 35px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.testimonials__container p:first-child {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 73px;
}

.testimonials__container .testimonial-carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  margin-top: 20px;
  left: 0;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial {
  width: 100%;
  padding: 0 30px;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial .testimonial-profile {
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 10px 5px #cccccc;
          box-shadow: 0px 10px 10px 5px #cccccc;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial .testimonial-inner {
  position: relative;
  margin-bottom: 30px;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial .testimonial-inner .testimonial-stars-and-name {
  margin-top: 20px;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial .testimonial-inner .testimonial-stars-and-name .testimonial-name {
  font-size: 16px;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial .testimonial-inner .testimonial-quote {
  position: absolute;
  left: 10px;
  top: 0;
  width: 4.375rem;
}

.testimonials__container .testimonial-carousel-wrapper .testimonial .quote {
  color: var(--purple-gray);
  font-size: 14px;
  line-height: 2;
}

.testimonials__container .carousel-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.testimonials__container .carousel-controls .prev, .testimonials__container .carousel-controls .next {
  width: 60px;
  height: 60px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  color: #dadada;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials__container .carousel-controls .next i {
  padding-left: 5px;
}

.testimonials__container .carousel-controls .prev i {
  padding-right: 5px;
}

.testimonials__container .carousel-controls .active {
  background-color: #383838;
  color: #fff;
}

.footer__container .footer-left {
  padding: 10px 5px;
  text-align: center;
  color: var(--purple-gray);
}

.footer__container .footer-left p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  width: 90%;
  margin: 0 auto 40px;
  line-height: 2;
}

.footer__container .footer-left h3 {
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer__container .footer-left .footer-socials i {
  padding: 0 20px;
  color: var(--purple-gray);
}

.footer__container .footer-right {
  padding: 10px 5px;
  text-align: center;
  color: var(--purple-gray);
}

.footer__container .footer-right .footer-list h4 {
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

.footer__container .footer-right .footer-list ul {
  padding: 0 0 20px 0;
}

.footer__container .footer-right .footer-list ul li {
  font-size: 16px;
  padding: 10px 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer__container .footer-right .footer-list ul li a {
  text-decoration: none;
}

.footer__container .footer-right .footer-list ul li a:link {
  color: var(--purple-gray);
}

.footer__container .copyright {
  font-size: 16px;
  text-align: center;
  color: #ccc;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  padding: 45px 0;
}

ul li {
  list-style: none;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-color {
  color: var(--orange);
}

@media screen and (min-width: 1000px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__options-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .hamburger-menu__container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */